extends layout

block content
  h1= title
  div.new-post
    a(href="/new")
      button= 'Add Post'
  div.all-messages
    each message in messages
      div.message
        p.text= message.text
        p.user= message.user
        p.date= message.added
